body{
  background-color: #F1F6FF;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

a{
  text-decoration: none;
  color: black;
}

.container-1{
  min-height: 70vh;
}

.profile-card {
  background: white;
  border-radius: 24px;
  padding: 40px;
  max-width: 500px;
  text-align: center;
}

.custom-container{
  display: flex;
  gap: 2em;
}


.foto1{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
}




.container-2 {
  animation: slideFromLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
}

.container-3 {
  min-height: 100vh;
  animation: slideFromLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


.container-4 {
  min-height: 40vh;
  animation: slideFromLeft linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}



@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
    rotate: 4deg;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
